



<div class="bs-example">
    <div class="jumbotron">
        <h1>WebSocket / Comet Slideshare</h1>
        <p>Example slide sharing project demonstrating reactive web-socket with comet fallback.  Select your user name and lets get started !</p>

        <form class="bs-example bs-example-form" role="form">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" ng-model="username" placeholder="Username">
            </div>
            <br>
        </form>

        <p><a class="btn btn-primary btn-lg" role="button" ng-click="getStarted()">Get Started</a></p>
    </div>
</div>



